.header {
  display: flex;
  justify-content: center;
  margin: 0;
}
.header__logo {
  max-width: 254px;
  margin-top: 34px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    max-width: 254px;
    margin-top: 32px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 254px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 544px) {
  .header__logo {
    max-width: 225px;
    margin-top: 26px;
  }
}
@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 188px;
    margin-top: 20px;
  }
}
