.header {
  display: flex;
  justify-content: center;
  margin: 0;
}
.logo {
  width: 254px;
  margin-top: 34px;
}
@media screen and (width: 1024px) {
  .logo {
    width: 254px;
    margin-top: 32px;
  }
}
@media screen and (width: 768px) {
  .logo {
    width: 254px;
    margin-top: 30px;
  }
}
@media screen and (width: 544px) {
  .logo {
    width: 225px;
    margin-top: 26px;
  }
}
@media screen and (width: 320px) {
  .logo {
    width: 188px;
    margin-top: 20px;
  }
}
