body {
  display: block;
  margin: 0;
  background-color: #2a2c2f;
}
.page {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto 0;
  background-color: #2a2c2f;
  border: 2px #ff0000 solid;
}
p {
  margin: 0;
}
.content {
  max-width: 100%;
}
